<footer id="contacts" class="container-fluid p-0">
    <div class="container row p-5 mx-auto justify-content-center">
        <div class="col-sm-5">
            <h5 class="mb-4 text-white text-center"> Наши контакты</h5>
            <div>
                <p>
                    <i class="fa fa-map-marker text-white"></i>
                    <a class="my-link" target="_blank"
                       href="https://yandex.ru/maps/org/magnat_nv/1165553350/?ll=38.154530%2C53.978902&source=wizgeo&utm_medium=maps-desktop&utm_source=serp&z=19">
                        Тульская обл., г. Узловая, ул. Гагарина, д.44
                    </a>
                </p>
                <p>
                    <i class=" pr-1 fa fa-mobile text-white"></i>
                    <a class="my-link" href="tel:+7920717686" style="color: aliceblue; font-size: 15px;">+7 (920)
                        771-76-86</a>
                </p>
                <p>
                    <i class=" pr-1 fa fa-mobile text-white"></i>
                    <a class="my-link" href="tel:+7920718686" style="color: aliceblue; font-size: 15px;">+7 (920)
                        771-86-86</a>
                    <span class="fa-stack"><a href="https://wa.me/79207718686" target="_blank">
                        <i class=" pr-1 fa fa-circle fa-stack-2x text-success"></i>
                        <i class=" pr-1 fa fa-whatsapp fa-stack-1x text-white"></i>
                    </a>
                    </span>
                </p>
                <p>
                    <i class="fa fa-envelope text-white"></i>
                    <a href="mailto:magnat-nv@mail.ru" class="my-link">magnat-nv@mail.ru</a>
                </p>
            </div>
        </div>
        <div class="col-sm-5">
            <h5 class="mb-4 text-white text-center"> Время работы</h5>
            <p>
                <i class="fa fa-clock-o text-white"></i>
                <strong class="text-white">
                    График работы:
                </strong>
            <ul class="worktime text-white">
            <li>Пн-Пт c 10:00 до 19:00</li>
            <li>Сб c 10:00 до 15:00</li>
            <li>Вс - выходной</li>
        </ul>
            </p>
        </div>
    </div>
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad9525666eaa8b9b4bdc93b9b7b40f28c5d237cb7530de8cc6b08b660387ca54d&amp;source=constructor"
            width="100%" height="350" frameborder="0"></iframe>
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="p-3 text-white text-center">
                2020 © компания Коротрон ™
            </div>
        </div>
    </div>
</footer>