{% load static %}
<div class="d-flex flex-column" id="home" style="background: #067E8F">
    <div class="d-flex flex-row justify-content-between ">
        <div class="px-4 py-2">
            <i class="fa fa-map-marker text-white"></i>
            <a class="my-link" target="_blank"
               href="https://yandex.ru/maps/org/magnat_nv/1165553350/?ll=38.154530%2C53.978902&source=wizgeo&utm_medium=maps-desktop&utm_source=serp&z=19">Тульская обл., г. Узловая, ул. Гагарина, д.44</a>
        </div>
        <div class="px-4 py-2">
            <span class="mr-3">
                <i class=" pr-1 fa fa-mobile text-white"></i>
                <a class="my-link" href="tel:+7920717686" style="color: aliceblue; font-size: 15px;">+7 (920) 771-76-86</a>
            </span>
            <span>
                <i class=" pr-1 fa fa-mobile text-white"></i>
                <a class="my-link" href="tel:+7920718686" style="color: aliceblue; font-size: 15px;">+7 (920) 771-86-86</a>
                <span class="fa-stack">
                    <a href="https://wa.me/79207718686" target="_blank">
                        <i class=" pr-1 fa fa-circle fa-stack-2x text-success"></i>
                        <i class=" pr-1 fa fa-whatsapp fa-stack-1x text-white"></i><!--                        <img class="icon" src="../source/icons/whatsapp.png" alt="what's up" style="width: 21px;">-->
                    </a>
                </span>
            </span>
        </div>
    </div>
    <div class="align-self-center">
        <img src="{% static 'images/logo.png' %}" alt="Компьютерный сервис" height="100" >
    </div>
</div>